.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: var(--width-xsm);
  width: 100%;
  padding-top: var(--spacing-4xl);
  padding-bottom: var(--spacing-4xl);
}

.heading {
  text-align: center;
  margin-top: var(--spacing-3xl);
}

.description {
  color: var(--color-text-tertiary);
  text-align: center;
  margin-top: var(--spacing-md);
}

.description strong {
  color: var(--color-text-brand-primary);
}
